Create database TTTH
USE [ComputerCentre]
GO
/****** Object:  UserDefinedFunction [dbo].[func_KTraUsernameTonTai]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create function [dbo].[func_KTraUsernameTonTai](@user varchar(20))
	returns int
	as
	begin
		declare @rs int
		select @rs = COUNT(*) from hocvien where username = @user
		return @rs
	end
GO
/****** Object:  UserDefinedFunction [dbo].[func_LayMaHocVienHienTai]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[func_LayMaHocVienHienTai](@user VARCHAR(20))
RETURNS int
AS
BEGIN
	DECLARE @rs int
	SELECT @rs = (SELECT MAHOCVIEN FROM HOCVIEN WHERE USERNAME = @user)

	RETURN @rs
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetMaxIDHocVien]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetMaxIDHocVien]()
RETURNS int
AS
BEGIN
	DECLARE @max_id int
	SET @max_id = (SELECT MAX(MAHOCVIEN) FROM [dbo].[HOCVIEN])
	IF  @max_id IS NULL
	BEGIN
		SET @max_id = 0
	END

	RETURN @max_id
END
GO
/****** Object:  UserDefinedFunction [dbo].[KTraUsernameHopLe]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KTraUsernameHopLe](@user VARCHAR(20))
RETURNS int
AS
BEGIN
	DECLARE @rs int
	SELECT @rs = COUNT(USERNAME) FROM HOCVIEN WHERE USERNAME = @user

	RETURN @rs
END
GO
/****** Object:  Table [dbo].[DANGKYKHOAHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYKHOAHOC](
	[MAKHOAHOC] [int] NOT NULL,
	[MAHOCVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOAHOC] ASC,
	[MAHOCVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTHIKTHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHIKTHP](
	[MAHOCVIEN] [int] NOT NULL,
	[MALOP] [int] NOT NULL,
	[MANHOM] [int] NOT NULL,
	[LANTHI] [int] NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOCVIEN] ASC,
	[MALOP] ASC,
	[MANHOM] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTHITOTNGHIEP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHITOTNGHIEP](
	[MAHOCVIEN] [int] NOT NULL,
	[MAKHOAHOC] [int] NOT NULL,
	[DIEM] [float] NULL,
	[MAGV] [int] NULL,
	[MAPHIEU_TN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOCVIEN] ASC,
	[MAKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [int] NOT NULL,
	[TENGV] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[LUONG] [int] NULL,
	[TRINHDOCHUYENMON] [nvarchar](20) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] NOT NULL,
	[TENHOADON] [varchar](30) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
	[MANVKTOAN] [int] NULL,
	[MAHOCVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONHOCPHI]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONHOCPHI](
	[MAHOADON] [int] NOT NULL,
	[MAKHOAHOC] [int] NULL,
	[MAHOCVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONPHUCKHAO]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONPHUCKHAO](
	[MAHOADON] [int] NOT NULL,
	[MAPHIEUPHUCKHAO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTHITOTNGHIEP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTHITOTNGHIEP](
	[MAHOADON] [int] NOT NULL,
	[MAPHIEUTHITN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHOCVIEN] [int] NOT NULL,
	[TENHOCVIEN] [nvarchar](30) NULL,
	[GIOITINH] [varchar](5) NULL,
	[DIACHI] [varchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](30) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOCVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MAKHOAHOC] [int] NOT NULL,
	[TENKHOAHOC] [nvarchar](30) NULL,
	[HOCPHI] [int] NULL,
	[THOIGIANBATDAU] [date] NULL,
	[MOTA] [ntext] NULL,
	[MALOAI] [int] NULL,
	[SOLUONGTOIDA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHI]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHI](
	[MALICHTHI] [int] NOT NULL,
	[PHONGTHI] [varchar](5) NULL,
	[NGAYTHI] [date] NULL,
	[GIOTHI] [datetimeoffset](7) NULL,
	[TENLICHTHI] [varchar](50) NULL,
	[MANVKTHI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHIKTHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHIKTHP](
	[MALICHTHI_KTHP] [int] NOT NULL,
	[MALOP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHTHI_KTHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHITN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHITN](
	[MALICHTHI_TN] [int] NOT NULL,
	[MAKHOAHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHTHI_TN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHOAHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHOAHOC](
	[MALOAI] [int] NOT NULL,
	[TENLOAIKHOAHOC] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MALOP] [int] NOT NULL,
	[TENLOP] [varchar](100) NULL,
	[HOCPHI] [int] NULL,
	[NGAYBATDAU] [date] NULL,
	[GIOHOC] [varchar](50) NULL,
	[MAGV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SDT] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[LUONG] [int] NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENKETOAN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENKETOAN](
	[MANVKTOAN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVKTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENKHAOTHI]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENKHAOTHI](
	[MANVKTHI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVKTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMHOCPHAN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHOCPHAN](
	[MANHOM] [int] NOT NULL,
	[TENNHOM] [varchar](30) NULL,
	[MAKHOAHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMHOCPHAN_MONHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHOCPHAN_MONHOC](
	[MALOP] [int] NOT NULL,
	[MANHOM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDKTHITN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDKTHITN](
	[MAPHIEU] [int] NOT NULL,
	[NGAYLAPPHIEU] [date] NULL,
	[MAHOCVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUPHUCKHAO]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUPHUCKHAO](
	[MAPHIEUPHUCKHAO] [int] NOT NULL,
	[TENPHIEUPHUCKHAO] [nvarchar](30) NULL,
	[LYDO] [ntext] NULL,
	[DIEMSAUPHUCKHAO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUPHUCKHAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUPHUCKHAO_DIEMKTHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUPHUCKHAO_DIEMKTHP](
	[MAPHIEUPHUCKHAO_DIEMKTHP] [int] NOT NULL,
	[MAHOCVIEN] [int] NULL,
	[MALOP] [int] NULL,
	[MANHOM] [int] NULL,
	[LANTHI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUPHUCKHAO_DIEMKTHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUPHUCKHAO_TN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUPHUCKHAO_TN](
	[MAPHIEUPHUCKHAO_DIEMTN] [int] NOT NULL,
	[MAKHOAHOC] [int] NULL,
	[MAHOCVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUPHUCKHAO_DIEMTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[func_LayDSKhoaHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_LayDSKhoaHoc]()
RETURNS table
AS
	return (SELECT MAKHOAHOC FROM [dbo].[KHOAHOC])
GO
/****** Object:  UserDefinedFunction [dbo].[func_LayDSKhoaHocKTV]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_LayDSKhoaHocKTV]()
RETURNS table
AS
	return (SELECT MAKHOAHOC FROM [dbo].[KHOAHOC] WHERE MALOAI = 1)
GO
/****** Object:  UserDefinedFunction [dbo].[func_LayDSMonHocTrongKhoaHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE FUNCTION [dbo].[func_LayDSMonHocTrongKhoaHoc](@MaKhoa INT)
RETURNS table
AS
	return (SELECT M.MALOP 
			FROM [dbo].[MONHOC] M, [dbo].[KHOAHOC] K, [dbo].[NHOMHOCPHAN] N
			WHERE K.MAKHOAHOC = N.MAKHOAHOC AND N.MANHOM = M.MANHOM AND K.MAKHOAHOC = @MaKhoa)
GO*/
/****** Object:  View [dbo].[DSKhoaHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- view xem ds khoa hoc
Create  view [dbo].[DSKhoaHoc]
as
	select kh.MAKHOAHOC, kh.TENKHOAHOC,l.TENLOAIKHOAHOC, kh.SOLUONGTOIDA, kh.HOCPHI, kh.THOIGIANBATDAU, kh.MOTA
	from KHOAHOC kh, LOAIKHOAHOC l
	where kh.MALOAI = l.MALOAI;
GO
/****** Object:  View [dbo].[v_DanhSachMonHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DanhSachMonHoc]
AS
	SELECT N.MANHOM, N.MALOP, M.TENLOP
	FROM NHOMHOCPHAN_MONHOC N, MONHOC M
	WHERE N.MALOP = M.MALOP
GO
/****** Object:  View [dbo].[v_LayDanhSachMonHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_LayDanhSachMonHoc]
AS
	SELECT K.MAKHOAHOC, N.MANHOM, N.MALOP, M.TENLOP
	FROM NHOMHOCPHAN_MONHOC N, MONHOC M, KHOAHOC K, NHOMHOCPHAN NHP
	WHERE N.MALOP = M.MALOP AND K.MAKHOAHOC = NHP.MAKHOAHOC AND NHP.MANHOM = N.MANHOM
GO
/****** Object:  View [dbo].[view_AllHocVien]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- view xem ds tat ca hoc vien
Create View [dbo].[view_AllHocVien]
as
	select h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from HOCVIEN h
GO
/****** Object:  View [dbo].[View_DSHocVienPhucKhaoDiemTN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DS tat ca hoc vien phuc khao diem tot nghiep
Create View [dbo].[View_DSHocVienPhucKhaoDiemTN]
As
	select p.MAPHIEUPHUCKHAO_DIEMTN as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from PHIEUPHUCKHAO_TN p, HOCVIEN h
	where p.MAHOCVIEN = h.MAHOCVIEN;
GO
/****** Object:  View [dbo].[view_DSHVPhucKhaoDiemKTHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  View [dbo].[view_DSHVPhucKhaoDiemKTHP]
As
	select p.MAPHIEUPHUCKHAO_DIEMKTHP as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from PHIEUPHUCKHAO_DIEMKTHP p, HOCVIEN h
	where p.MAHOCVIEN = h.MAHOCVIEN
GO
ALTER TABLE [dbo].[DANGKYKHOAHOC]  WITH CHECK ADD  CONSTRAINT [fk_DangKyKhoaHoc_HocVien] FOREIGN KEY([MAHOCVIEN])
REFERENCES [dbo].[HOCVIEN] ([MAHOCVIEN])
GO
ALTER TABLE [dbo].[DANGKYKHOAHOC] CHECK CONSTRAINT [fk_DangKyKhoaHoc_HocVien]
GO
ALTER TABLE [dbo].[DANGKYKHOAHOC]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiKTHP_KhoaHoc] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[DANGKYKHOAHOC] CHECK CONSTRAINT [fk_DiemThiKTHP_KhoaHoc]
GO
ALTER TABLE [dbo].[DIEMTHIKTHP]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiKTHP_HocVien] FOREIGN KEY([MAHOCVIEN])
REFERENCES [dbo].[HOCVIEN] ([MAHOCVIEN])
GO
ALTER TABLE [dbo].[DIEMTHIKTHP] CHECK CONSTRAINT [fk_DiemThiKTHP_HocVien]
GO
ALTER TABLE [dbo].[DIEMTHIKTHP]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiKTHP_NhomHocPhanMonHoc] FOREIGN KEY([MALOP], [MANHOM])
REFERENCES [dbo].[NHOMHOCPHAN_MONHOC] ([MALOP], [MANHOM])
GO
ALTER TABLE [dbo].[DIEMTHIKTHP] CHECK CONSTRAINT [fk_DiemThiKTHP_NhomHocPhanMonHoc]
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiTN_DangKyKhoaHoc] FOREIGN KEY([MAKHOAHOC], [MAHOCVIEN])
REFERENCES [dbo].[DANGKYKHOAHOC] ([MAKHOAHOC], [MAHOCVIEN])
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP] CHECK CONSTRAINT [fk_DiemThiTN_DangKyKhoaHoc]
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiTN_GiangVien] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP] CHECK CONSTRAINT [fk_DiemThiTN_GiangVien]
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP]  WITH CHECK ADD  CONSTRAINT [fk_DiemThiTN_PhieuDKTotNghiep] FOREIGN KEY([MAPHIEU_TN])
REFERENCES [dbo].[PHIEUDKTHITN] ([MAPHIEU])
GO
ALTER TABLE [dbo].[DIEMTHITOTNGHIEP] CHECK CONSTRAINT [fk_DiemThiTN_PhieuDKTotNghiep]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_NVKToan] FOREIGN KEY([MANVKTOAN])
REFERENCES [dbo].[NHANVIENKETOAN] ([MANVKTOAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HoaDon_NVKToan]
GO
ALTER TABLE [dbo].[HOADONHOCPHI]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonHP_DangKyKhoaHoc] FOREIGN KEY([MAKHOAHOC], [MAHOCVIEN])
REFERENCES [dbo].[DANGKYKHOAHOC] ([MAKHOAHOC], [MAHOCVIEN])
GO
ALTER TABLE [dbo].[HOADONHOCPHI] CHECK CONSTRAINT [fk_HoaDonHP_DangKyKhoaHoc]
GO
ALTER TABLE [dbo].[HOADONHOCPHI]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonHP_HoaDon] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADONHOCPHI] CHECK CONSTRAINT [fk_HoaDonHP_HoaDon]
GO
ALTER TABLE [dbo].[HOADONPHUCKHAO]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonPK_HoaDon] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADONPHUCKHAO] CHECK CONSTRAINT [fk_HoaDonPK_HoaDon]
GO
ALTER TABLE [dbo].[HOADONPHUCKHAO]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonPK_PhieuPhucKhao] FOREIGN KEY([MAPHIEUPHUCKHAO])
REFERENCES [dbo].[PHIEUPHUCKHAO] ([MAPHIEUPHUCKHAO])
GO
ALTER TABLE [dbo].[HOADONPHUCKHAO] CHECK CONSTRAINT [fk_HoaDonPK_PhieuPhucKhao]
GO
ALTER TABLE [dbo].[HOADONTHITOTNGHIEP]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonTN_HoaDon] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADONTHITOTNGHIEP] CHECK CONSTRAINT [fk_HoaDonTN_HoaDon]
GO
ALTER TABLE [dbo].[HOADONTHITOTNGHIEP]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonTN_PhieuDKThiTN] FOREIGN KEY([MAPHIEUTHITN])
REFERENCES [dbo].[PHIEUDKTHITN] ([MAPHIEU])
GO
ALTER TABLE [dbo].[HOADONTHITOTNGHIEP] CHECK CONSTRAINT [fk_HoaDonTN_PhieuDKThiTN]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [fk_KhoaHoc_LoaiKhoaHoc] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIKHOAHOC] ([MALOAI])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [fk_KhoaHoc_LoaiKhoaHoc]
GO
ALTER TABLE [dbo].[LICHTHI]  WITH CHECK ADD  CONSTRAINT [fk_LichThi_NVKThi] FOREIGN KEY([MANVKTHI])
REFERENCES [dbo].[NHANVIENKHAOTHI] ([MANVKTHI])
GO
ALTER TABLE [dbo].[LICHTHI] CHECK CONSTRAINT [fk_LichThi_NVKThi]
GO
ALTER TABLE [dbo].[LICHTHIKTHP]  WITH CHECK ADD  CONSTRAINT [fk_LichThiKTHP_LichThi] FOREIGN KEY([MALICHTHI_KTHP])
REFERENCES [dbo].[LICHTHI] ([MALICHTHI])
GO
ALTER TABLE [dbo].[LICHTHIKTHP] CHECK CONSTRAINT [fk_LichThiKTHP_LichThi]
GO
ALTER TABLE [dbo].[LICHTHIKTHP]  WITH CHECK ADD  CONSTRAINT [fk_LichThiKTHP_MonHoc] FOREIGN KEY([MALOP])
REFERENCES [dbo].[MONHOC] ([MALOP])
GO
ALTER TABLE [dbo].[LICHTHIKTHP] CHECK CONSTRAINT [fk_LichThiKTHP_MonHoc]
GO
ALTER TABLE [dbo].[LICHTHITN]  WITH CHECK ADD  CONSTRAINT [fk_LichThiTN_KhoaHoc] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[LICHTHITN] CHECK CONSTRAINT [fk_LichThiTN_KhoaHoc]
GO
ALTER TABLE [dbo].[LICHTHITN]  WITH CHECK ADD  CONSTRAINT [fk_LichThiTN_LichThi] FOREIGN KEY([MALICHTHI_TN])
REFERENCES [dbo].[LICHTHI] ([MALICHTHI])
GO
ALTER TABLE [dbo].[LICHTHITN] CHECK CONSTRAINT [fk_LichThiTN_LichThi]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [fk_MonHoc_GiangVien] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [fk_MonHoc_GiangVien]
GO
ALTER TABLE [dbo].[NHANVIENKETOAN]  WITH CHECK ADD  CONSTRAINT [fk_NVKToan_NhanVien] FOREIGN KEY([MANVKTOAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIENKETOAN] CHECK CONSTRAINT [fk_NVKToan_NhanVien]
GO
ALTER TABLE [dbo].[NHANVIENKHAOTHI]  WITH CHECK ADD  CONSTRAINT [fk_NVKThi_NhanVien] FOREIGN KEY([MANVKTHI])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIENKHAOTHI] CHECK CONSTRAINT [fk_NVKThi_NhanVien]
GO
ALTER TABLE [dbo].[NHOMHOCPHAN]  WITH CHECK ADD  CONSTRAINT [fk_NhomHocPhan_KhoaHoc] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[NHOMHOCPHAN] CHECK CONSTRAINT [fk_NhomHocPhan_KhoaHoc]
GO
ALTER TABLE [dbo].[NHOMHOCPHAN_MONHOC]  WITH CHECK ADD  CONSTRAINT [fk_NhomHocPhanMonHoc_MonHoc] FOREIGN KEY([MALOP])
REFERENCES [dbo].[MONHOC] ([MALOP])
GO
ALTER TABLE [dbo].[NHOMHOCPHAN_MONHOC] CHECK CONSTRAINT [fk_NhomHocPhanMonHoc_MonHoc]
GO
ALTER TABLE [dbo].[PHIEUDKTHITN]  WITH CHECK ADD  CONSTRAINT [fk_PhieuDKThiTN_HocVien] FOREIGN KEY([MAHOCVIEN])
REFERENCES [dbo].[HOCVIEN] ([MAHOCVIEN])
GO
ALTER TABLE [dbo].[PHIEUDKTHITN] CHECK CONSTRAINT [fk_PhieuDKThiTN_HocVien]
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_DIEMKTHP]  WITH CHECK ADD  CONSTRAINT [fk_PhieuPKMonHoc_DiemKTHP] FOREIGN KEY([MAHOCVIEN], [MALOP], [MANHOM], [LANTHI])
REFERENCES [dbo].[DIEMTHIKTHP] ([MAHOCVIEN], [MALOP], [MANHOM], [LANTHI])
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_DIEMKTHP] CHECK CONSTRAINT [fk_PhieuPKMonHoc_DiemKTHP]
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_DIEMKTHP]  WITH CHECK ADD  CONSTRAINT [fk_PhieuPKMonHoc_PhieuPhucKhao] FOREIGN KEY([MAPHIEUPHUCKHAO_DIEMKTHP])
REFERENCES [dbo].[PHIEUPHUCKHAO] ([MAPHIEUPHUCKHAO])
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_DIEMKTHP] CHECK CONSTRAINT [fk_PhieuPKMonHoc_PhieuPhucKhao]
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_TN]  WITH CHECK ADD  CONSTRAINT [fk_PhieuPKTotNghiep_DiemThiTN] FOREIGN KEY([MAHOCVIEN], [MAKHOAHOC])
REFERENCES [dbo].[DIEMTHITOTNGHIEP] ([MAHOCVIEN], [MAKHOAHOC])
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_TN] CHECK CONSTRAINT [fk_PhieuPKTotNghiep_DiemThiTN]
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_TN]  WITH CHECK ADD  CONSTRAINT [fk_PhieuPKTotNghiep_PhieuPhucKhao] FOREIGN KEY([MAPHIEUPHUCKHAO_DIEMTN])
REFERENCES [dbo].[PHIEUPHUCKHAO] ([MAPHIEUPHUCKHAO])
GO
ALTER TABLE [dbo].[PHIEUPHUCKHAO_TN] CHECK CONSTRAINT [fk_PhieuPKTotNghiep_PhieuPhucKhao]
GO
ALTER TABLE [dbo].[DIEMTHIKTHP]  WITH CHECK ADD  CONSTRAINT [DIEMKTHP] CHECK  (([DIEM]<=(10) AND [DIEM]>=(0)))
GO
ALTER TABLE [dbo].[DIEMTHIKTHP] CHECK CONSTRAINT [DIEMKTHP]
GO
ALTER TABLE [dbo].[DIEMTHIKTHP]  WITH CHECK ADD  CONSTRAINT [SOLANTHI] CHECK  (([LANTHI]<=(3)))
GO
ALTER TABLE [dbo].[DIEMTHIKTHP] CHECK CONSTRAINT [SOLANTHI]
GO
/****** Object:  StoredProcedure [dbo].[DANGKYPHUCKHAO]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANGKYPHUCKHAO](
@LYDO NTEXT,
@MAHV INT,
@LANTHI INT,
@MALOP INT,
@MAKH INT
)
AS
BEGIN
	DECLARE @MAPHIEUPK INT;
	SET @MAPHIEUPK =(SELECT MAX(MAPHIEUPHUCKHAO) FROM PHIEUPHUCKHAO);
	IF( @MAPHIEUPK IS NOT NULL)
		SET	@MAPHIEUPK=@MAPHIEUPK+1;
	ELSE
		SET @MAPHIEUPK=1;

	INSERT INTO PHIEUPHUCKHAO (MAPHIEUPHUCKHAO, LYDO, DIEMSAUPHUCKHAO)
	VALUES (@MAPHIEUPK, @LYDO, NULL);
	IF(@MAKH IS NOT NULL)
		INSERT INTO PHIEUPHUCKHAO_DIEMTN(MAPHIEUPHUCKHAO_DIEMTN,MAHOCVIEN, MAKHOAHOC)
		VALUES (@MAPHIEUPK, @MAHV, @MAKH);
	IF ((@MALOP IS NOT NULL) AND (@LANTHI IS NOT NULL))
		INSERT INTO PHIEUPHUCKHAO_DIEMKTHP(MAPHIEUPHUCKHAO_DIEMKTHP, MAHOCVIEN, MALOP, LANTHI)
		VALUES (@MAPHIEUPK, @MAHV, @MALOP, @LANTHI);
END;
GO
/****** Object:  StoredProcedure [dbo].[DANGKYTHITOTNGHIEP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANGKYTHITOTNGHIEP](
@NGAYLAPPHIEU DATE, @MAHOCVIEN INT
)
AS
BEGIN
	DECLARE @MAPHIEU INT;
	SET @MAPHIEU= (SELECT MAX(MAPHIEU) FROM PHIEUDKTHITN);
	SET @MAPHIEU=@MAPHIEU+1;
	INSERT INTO PHIEUDKTHITN (MAPHIEU, NGAYLAPPHIEU, MAHOCVIEN) VALUES (@MAPHIEU, @NGAYLAPPHIEU, @MAHOCVIEN);
END;
GO
/****** Object:  StoredProcedure [dbo].[LAYDANHSACHKHOAHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LAYDANHSACHKHOAHOC]
AS
BEGIN
	SELECT * FROM DBO.KHOAHOC
END
GO
/****** Object:  StoredProcedure [dbo].[LAYDANHSACHLOPHOC]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[LAYDANHSACHLOPHOC]
AS
BEGIN
	SELECT * FROM DBO.MONHOC
END
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHocVienPhucKhaoDiemTNTheoKH]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DS hoc vien phuc khao diem tot nghiep theo khoa hoc
Create  Proc [dbo].[proc_DSHocVienPhucKhaoDiemTNTheoKH](@makh int)
As
Begin
	select p.MAPHIEUPHUCKHAO_DIEMTN as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from PHIEUPHUCKHAO_TN p, HOCVIEN h
	where p.MAKHOAHOC = @makh and p.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DS HV phuc khao diem KTHP theo ma KH
Create  Proc [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH](@makh int)
As
Begin
	select distinct d.MAPHIEUPHUCKHAO_DIEMKTHP as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, HOCVIEN h, PHIEUPHUCKHAO_DIEMKTHP d
	where n.MAKHOAHOC = @makh and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH_NhomHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DS HV phuc khao diem KTHP theo ma KH, ma nhom HP
Create  Proc [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH_NhomHP](@makh int, @manhom int)
As
Begin
	select distinct d.MAPHIEUPHUCKHAO_DIEMKTHP as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, HOCVIEN h, PHIEUPHUCKHAO_DIEMKTHP d
	where n.MAKHOAHOC = @makh and d.MANHOM = @manhom and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH_NhomHP_MaLop]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DS HV phuc khao diem KTHP theo ma KH, ma nhom HP, ma Lop
Create Proc [dbo].[proc_DSHVPhucKhaoDiemKTHPtheoKH_NhomHP_MaLop](@makh int, @manhom int, @malop int)
As
Begin
	select distinct d.MAPHIEUPHUCKHAO_DIEMKTHP as MAPHIEU, h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, HOCVIEN h, PHIEUPHUCKHAO_DIEMKTHP d
	where n.MAKHOAHOC = @makh and d.MANHOM = @manhom and d.MALOP = @malop and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVtheoMaKH]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Lay ds hoc vien theo ma KH
Create Proc [dbo].[proc_DSHVtheoMaKH](@makh int)
As
Begin
	select distinct h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, DIEMTHIKTHP d, HOCVIEN h
	where n.MAKHOAHOC = @makh and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVtheoMaKH_MaNhomHP_MaLop]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  Proc [dbo].[proc_DSHVtheoMaKH_MaNhomHP_MaLop](@makh int, @manhom int, @malop int)
as
Begin
	select distinct h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, DIEMTHIKTHP d, HOCVIEN h
	where n.MAKHOAHOC = @makh and d.MANHOM = @manhom and d.MALOP = @malop and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSHVtheoMaKHvaMaNhomHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Proc [dbo].[proc_DSHVtheoMaKHvaMaNhomHP](@makh int, @manhom int)
as
Begin
	select distinct h.MAHOCVIEN, h.TENHOCVIEN, h.GIOITINH, h.NGAYSINH, h.DIACHI, h.EMAIL
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, DIEMTHIKTHP d, HOCVIEN h
	where n.MAKHOAHOC = @makh and d.MANHOM = @manhom and n.MANHOM = nm.MANHOM and nm.MALOP = d.MALOP and d.MAHOCVIEN = h.MAHOCVIEN
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSLopHocCuaGV]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DS lop hoc cua GV
Create  Proc [dbo].[proc_DSLopHocCuaGV](@maGV int)
AS
Begin
	select m.MALOP, m.TENLOP, m.NGAYBATDAU, m.GIOHOC
	from MONHOC m
	where m.MAGV = @maGV
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSLopHocCuaKhoaHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xem DS lop hoc theo MaKH
Create Proc [dbo].[proc_DSLopHocCuaKhoaHoc](@makh int)
as
Begin
	select n.TENNHOM, mh.TENLOP, mh.HOCPHI, mh.NGAYBATDAU, mh.GIOHOC, gv.TENGV
	from MONHOC mh, NHOMHOCPHAN_MONHOC nm, NHOMHOCPHAN n, GIANGVIEN gv
	where n.MAKHOAHOC = @makh and n.MANHOM = nm.MANHOM and nm.MALOP = mh.MALOP and mh.MAGV = gv.MAGV
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSMonHocCuaNhomHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xem DS mon hoc cua nhom HP
Create  Proc [dbo].[proc_DSMonHocCuaNhomHP](@manhom int)
as
Begin
	select mh.TENLOP
	from MONHOC mh, NHOMHOCPHAN_MONHOC nm
	where @manhom = nm.MANHOM and nm.MALOP = mh.MALOP
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSMonHoctheoMaKH_MaNhomHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DS Mon hoc theo Khoa hoc va Nhom HP
Create Proc [dbo].[proc_DSMonHoctheoMaKH_MaNhomHP](@makh int, @manhom int)
As
Begin
	select m.MALOP, m.TENLOP, m.HOCPHI, m.NGAYBATDAU, m.GIOHOC, g.TENGV
	from NHOMHOCPHAN n, NHOMHOCPHAN_MONHOC nm, MONHOC m, GIANGVIEN g
	where n.MAKHOAHOC = @makh and n.MANHOM = @manhom and n.MANHOM = nm.MANHOM and nm.MALOP = m.MALOP and m.MAGV = g.MAGV
End
GO
/****** Object:  StoredProcedure [dbo].[proc_DSNhomHPcuaKH]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- proc xem ds nhom hoc phan theo KH
Create Proc [dbo].[proc_DSNhomHPcuaKH](@makh int)
as
Begin
		select n.MANHOM, n.TENNHOM
		from NHOMHOCPHAN n
		where n.MAKHOAHOC = @makh
End
GO
/****** Object:  StoredProcedure [dbo].[proc_GetRoleOfUser]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Lay thong tin role cua user
Create Proc [dbo].[proc_GetRoleOfUser](@username varchar(20))
As
Begin
	select t.ROLE
	from dbo.TAIKHOAN t
	where t.USERNAME = @username
End
GO
/****** Object:  StoredProcedure [dbo].[proc_KTraDangKyHopLe]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create procedure [dbo].[proc_KTraDangKyHopLe] @user varchar(20)
	as
	begin
		select count(*) from hocvien where USERNAME = @user
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_LapDSHVienCoDiemThiKTHPBeHon5]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE PROCEDURE [dbo].[proc_LapDSHVienCoDiemThiKTHPBeHon5](@makhoa INT, @malop INT)
AS
BEGIN
	SELECT MAHOCVIEN, DIEM
	FROM KHOAHOC K, DIEMTHIKTHP D, MONHOC M, NHOMHOCPHAN N
	WHERE K.MAKHOAHOC = N.MAKHOAHOC AND N.MANHOM = M.MANHOM AND M.MALOP = D.MALOP 
		AND D.DIEM < 5 AND K.MAKHOAHOC = @makhoa AND D.MALOP = @malop
END
GO*/
/****** Object:  StoredProcedure [dbo].[proc_LapDSHVienCoDiemThiKTHPLonHonHoacBang5]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE PROCEDURE [dbo].[proc_LapDSHVienCoDiemThiKTHPLonHonHoacBang5](@makhoa INT, @malop INT)
AS
BEGIN
	SELECT D.MAHOCVIEN, H.TENHOCVIEN, D.DIEM
	FROM KHOAHOC K, DIEMTHIKTHP D, MONHOC M, NHOMHOCPHAN N, HOCVIEN H
	WHERE K.MAKHOAHOC = N.MAKHOAHOC AND N.MANHOM = M.MANHOM AND M.MALOP = D.MALOP 
		AND D.DIEM >= 5 AND H.MAHOCVIEN = D.MAHOCVIEN AND K.MAKHOAHOC = @makhoa AND D.MALOP = @malop
END
GO*/
/****** Object:  StoredProcedure [dbo].[proc_LapDSHVienCoDiemThiTotNghiepLonHonHoacBang5]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_LapDSHVienCoDiemThiTotNghiepLonHonHoacBang5](@makhoa INT)
AS
BEGIN
	SELECT MAHOCVIEN, DIEM
	FROM KHOAHOC K, DIEMTHITOTNGHIEP D
	WHERE K.MAKHOAHOC = D.MAKHOAHOC AND D.DIEM >= 5 AND K.MAKHOAHOC = @makhoa
END
GO
/****** Object:  StoredProcedure [dbo].[proc_LayMaGVtheoUsername]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  Proc [dbo].[proc_LayMaGVtheoUsername](@username varchar(20))
as
Begin
	select g.MAGV
	from GIANGVIEN g
	where g.USERNAME = @username
End
GO
/****** Object:  StoredProcedure [dbo].[proc_SLHocVienDKKhoaHoc]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Lay so luong hoc vien da dang ky khoa hoc
Create  Proc [dbo].[proc_SLHocVienDKKhoaHoc](@makh int)
as
Begin
	select COUNT(d.MAHOCVIEN) as SL
	from KHOAHOC k, DANGKYKHOAHOC d
	where k.MAKHOAHOC = @makh and k.MAKHOAHOC = d.MAKHOAHOC
End
GO
/****** Object:  StoredProcedure [dbo].[proc_ThemHocVien]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_ThemHocVien](@ten nvarchar(50), @gioitinh varchar(5), @diachi varchar(100), @ngaysinh date, @sdt varchar(15),
											@email varchar(30), @user varchar(20), @pass varchar(20))
AS
BEGIN
	DECLARE @mahocvien int;
	SET @mahocvien = (SELECT MAX(MAHOCVIEN) FROM [dbo].[HOCVIEN]) + 1;
	INSERT INTO [dbo].[HOCVIEN](MAHOCVIEN, TENHOCVIEN, GIOITINH, DIACHI, NGAYSINH, SDT, EMAIL, USERNAME, PASSWORD)
	VALUES(@mahocvien, @ten, @gioitinh, @diachi, @ngaysinh, @sdt, @email, @user, @pass) 
END
GO
/****** Object:  StoredProcedure [dbo].[SEE_DIEMKTHP]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEE_DIEMKTHP]
AS
BEGIN
	SELECT * FROM DBO.DIEMTHIKTHP
END
GO
/****** Object:  StoredProcedure [dbo].[SEE_DIEMTN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEE_DIEMTN]
AS
BEGIN
	SELECT * FROM DBO.DIEMTHITOTNGHIEP
END
GO
/****** Object:  StoredProcedure [dbo].[SEE_PHIEUDKITHITN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE  PROCEDURE [dbo].[SEE_PHIEUDKITHITN]
AS
BEGIN
	SELECT * FROM PHIEUDKTHITN;
END
GO
/****** Object:  StoredProcedure [dbo].[THANHTOAN]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THANHTOAN](
@TENHD		VARCHAR(30),
@NGAYLAP	DATE,
@TONGTIEN	FLOAT,
@MANVKT		INT,
@MAHV		INT,
@MAKH		INT,
@MAPHIEUPK	INT,
@MAPHIEUTN	INT
)
AS
BEGIN
	DECLARE @MAHD INT;
	SET @MAHD =(SELECT MAX(MAHOADON) FROM HOADON);
	IF(@MAHD IS NOT NULL)
		BEGIN
			SET	@MAHD=@MAHD+1;
		END;
	ELSE
		SET @MAHD=1;
	INSERT INTO HOADON (MAHOADON,TENHOADON,NGAYLAP,TONGTIEN,MANVKTOAN,MAHOCVIEN)
	VALUES(@MAHD, @TENHD, @NGAYLAP,@TONGTIEN, @MANVKT, @MAHV);
	IF(@MAKH IS NOT NULL)
		INSERT INTO HOADONHOCPHI (MAHOADON, MAKHOAHOC) VALUES (@MAHD, @MAKH);
	IF(@MAPHIEUPK IS NOT NULL)
		INSERT INTO HOADONPHUCKHAO (MAHOADON, MAPHIEUPHUCKHAO) VALUES (@MAHD, @MAPHIEUPK);
	IF(@MAPHIEUTN IS NOT NULL)
		INSERT INTO HOADONTHITOTNGHIEP (MAHOADON, MAPHIEUTHITN) VALUES (@MAHD, @MAPHIEUTN)
END;
GO
/****** Object:  StoredProcedure [dbo].[THEM_DSKH]    Script Date: 7/12/2021 9:19:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[THEM_DSKH]	
	@MAKHOAHOC INT,
	@TENKHOAHOC NVARCHAR(30),
	@HOCPHI INT,
	@THOIGIANBATDAU DATE,
	@MOTA NTEXT,
	@MALOAI INT,
	@SOLUONGTOIDA INT
AS
BEGIN
	INSERT INTO DBO.KHOAHOC VALUES(@MAKHOAHOC, @TENKHOAHOC, @HOCPHI, @THOIGIANBATDAU, @MOTA, @MALOAI, @SOLUONGTOIDA)
END
GO

--tim kiem hoa don
CREATE PROC TimKiemCacHDCuaHocVien @maHV INT 
AS 
BEGIN 
	SELECT DISTINCT hd.MAHOADON, hd.TENHOADON, hv.MAHOCVIEN, hv.TENHOCVIEN, hd.NGAYLAP, hd.TONGTIEN, nv.TENNV
	FROM HOADON hd, HOCVIEN hv, HOADONHOCPHI hp, KHOAHOC kh, HOADONTHITOTNGHIEP tn, PHIEUDKTHITN ptn, PHIEUDKTHITN dktn, DIEMTHITOTNGHIEP dtn, HOADONPHUCKHAO pk, PHIEUPHUCKHAO ppk, PHIEUPHUCKHAO_TN pk_tn, PHIEUPHUCKHAO_DIEMKTHP pk_mh, NHANVIENKETOAN kt, NHANVIEN nv
	WHERE hp.MAHOCVIEN=@maHV 
	or (hd.MAHOADON=tn.MAHOADON and tn.MAPHIEUTHITN=dktn.MAPHIEU and dktn.MAPHIEU=dtn.MAPHIEU_TN and dtn.MAHOCVIEN=@maHV) 
	or (pk.MAHOADON=hd.MAHOADON and (pk.MAPHIEUPHUCKHAO=ppk.MAPHIEUPHUCKHAO and pk_tn.MAPHIEUPHUCKHAO_DIEMTN = ppk.MAPHIEUPHUCKHAO and pk_tn.MAHOCVIEN=@maHV) or (ppk.MAPHIEUPHUCKHAO=pk_mh.MAPHIEUPHUCKHAO_DIEMKTHP and pk_mh.MAHOCVIEN=@maHV))
	and hd.MANVKTOAN=kt.MANVKTOAN and kt.MANVKTOAN=nv.MANV
END;

EXEC TimKiemCacHDCuaHocVien 1

-- Them lich thi 
GO
CREATE PROC THEMLICHTHI(@TENLICHTHI NVARCHAR(50), 
@PHONGTHI VARCHAR(10), 
@NGAYTHI DATETIME, 
@GIOTHI VARCHAR(10),
@MANVKT INT,
@MALOP	INT,
@MAKHOAHOC INT)
AS
BEGIN
DECLARE @MALT INT;
SET @MALT = (SELECT MAX(MALICHTHI) FROM LICHTHI);
SET @MALT=@MALT+1;

INSERT INTO LICHTHI (MALICHTHI,TENLICHTHI,PHONGTHI,NGAYTHI,GIOTHI,MANVKTHI) 
VALUES (@MALT, @TENLICHTHI, @PHONGTHI, @NGAYTHI, @GIOTHI, @MANVKT);
IF(@MAKHOAHOC = 0)
	INSERT INTO LICHTHIKTHP(MALICHTHI_KTHP, MALOP) VALUES (@MALT, @MALOP);
ELSE
	INSERT INTO LICHTHITN(MALICHTHI_TN, MAKHOAHOC) VALUES (@MALT, @MAKHOAHOC)
END;
GO
-- Sua lich thi 
GO
CREATE PROC CHINHSUALICHTHI(@TENLICHTHI NVARCHAR(50),
@PHONGTHI	VARCHAR(10),
@NGAYTHI	Date,
@GIOTHI		VARCHAR(10),
@MALT		INT)
AS
BEGIN
	IF(@PHONGTHI IS NULL)
		UPDATE LICHTHI SET TENLICHTHI=@TENLICHTHI, NGAYTHI=@NGAYTHI, GIOTHI=@GIOTHI WHERE MALICHTHI=@MALT;
	ELSE 
		IF(@NGAYTHI IS NULL)
			UPDATE LICHTHI SET TENLICHTHI=@TENLICHTHI, PHONGTHI=@PHONGTHI, GIOTHI=@GIOTHI WHERE MALICHTHI=@MALT;
		ELSE
			IF(@GIOTHI IS NULL)
				UPDATE LICHTHI SET TENLICHTHI=@TENLICHTHI, PHONGTHI=@PHONGTHI, NGAYTHI=@NGAYTHI WHERE MALICHTHI=@MALT;
			ELSE
				IF (@TENLICHTHI IS NULL)
					UPDATE LICHTHI SET PHONGTHI=@PHONGTHI, NGAYTHI=@NGAYTHI, GIOTHI=@GIOTHI WHERE MALICHTHI=@MALT;
				ELSE 
					UPDATE LICHTHI SET TENLICHTHI=@TENLICHTHI, PHONGTHI=@PHONGTHI, NGAYTHI=@NGAYTHI, GIOTHI=@GIOTHI WHERE MALICHTHI=@MALT;
END;
GO

--insert data
	--table HOCVIEN
	INSERT INTO [dbo].[HOCVIEN]([MAHOCVIEN], [TENHOCVIEN], [GIOITINH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [USERNAME], [PASSWORD])
		VALUES(1, 'Hoang Thi Thuy Trang' , 'Nu' , 'Dong Nai' , '2000-07-17', '0347883373', 'htttrang@gmail.com', 'trang', '123')
	INSERT INTO [dbo].[HOCVIEN]([MAHOCVIEN], [TENHOCVIEN], [GIOITINH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [USERNAME], [PASSWORD])
		VALUES(2, 'Lo Thi My Nuong' , 'Nu' , 'Lam Dong ' , '2000-09-17', '0782451196', 'ltmnuong@gmail.com', 'nuong', '123')
	INSERT INTO [dbo].[HOCVIEN]([MAHOCVIEN], [TENHOCVIEN], [GIOITINH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [USERNAME], [PASSWORD])
		VALUES(3, 'Lang Van Nhan' , 'Nam' , 'An Giang' , '2000-04-11', '0957831563', 'lvnhan@gmail.com', 'nhan', '123')

	--table TAIKHOAN
	/*INSERT INTO [DBO].TAIKHOAN([USERNAME], [PASSWORD], [ROLE]) VALUES ('trang','123','HocVien');
	INSERT INTO [DBO].TAIKHOAN([USERNAME], [PASSWORD], [ROLE]) VALUES ('nuong','123','HocVien');
	INSERT INTO [DBO].TAIKHOAN([USERNAME], [PASSWORD], [ROLE]) VALUES ('nhan','123','HocVien');
	INSERT INTO [DBO].TAIKHOAN([USERNAME], [PASSWORD], [ROLE]) VALUES ('phat','123','HocVien');
	INSERT INTO [DBO].TAIKHOAN([USERNAME], [PASSWORD], [ROLE]) VALUES ('long','123','HocVien');*/

	--table LOAIKHOAHOC
	INSERT INTO [dbo].[LOAIKHOAHOC]([MALOAI], [TENLOAIKHOAHOC]) VALUES (1, 'Ky thuat vien')
	INSERT INTO [dbo].[LOAIKHOAHOC]([MALOAI], [TENLOAIKHOAHOC]) VALUES (2, 'Chuyen de')
	INSERT INTO [dbo].[LOAIKHOAHOC]([MALOAI], [TENLOAIKHOAHOC]) VALUES (3, 'Chung chi')


	--table KHOAHOC
	INSERT INTO [dbo].[KHOAHOC]([MAKHOAHOC], [TENKHOAHOC], [HOCPHI], [THOIGIANBATDAU], [MOTA], [MALOAI], [SOLUONGTOIDA])
		VALUES(1, 'Lap trinh vien Python' , null, '2021-07-10', 'Khoa hoc cung cap cho hoc vien nhung kien thuc nen tang va ki nang can thiet de lap trinh python', 1, 30)
	INSERT INTO [dbo].[KHOAHOC]([MAKHOAHOC], [TENKHOAHOC], [HOCPHI], [THOIGIANBATDAU], [MOTA], [MALOAI], [SOLUONGTOIDA])
		VALUES(2, 'Lap trinh Front-end' , null, '2021-07-10', 'Cung cap cho hoc vien nhung kien thuc nen tang de lap trinh Front_end', 1, 30)
	INSERT INTO [dbo].[KHOAHOC]([MAKHOAHOC], [TENKHOAHOC], [HOCPHI], [THOIGIANBATDAU], [MOTA], [MALOAI], [SOLUONGTOIDA])
		VALUES(3, 'Lap trinh .NET co ban' , null, '2021-07-10', 'Khoa hoc cung cap cho hoc vien nhung kien thuc nen tang va ki nang can thiet', 1, 30)

	--table DANGKYKHOAHOC
	INSERT INTO [dbo].[DANGKYKHOAHOC]([MAKHOAHOC], [MAHOCVIEN]) VALUES(1, 1)
	INSERT INTO [dbo].[DANGKYKHOAHOC]([MAKHOAHOC], [MAHOCVIEN]) VALUES(1, 2)
	INSERT INTO [dbo].[DANGKYKHOAHOC]([MAKHOAHOC], [MAHOCVIEN]) VALUES(4, 3)

	--table NHOMHOCPHAN
	INSERT INTO [dbo].[NHOMHOCPHAN]([MANHOM], [TENNHOM], [MAKHOAHOC]) VALUES(1, 'Nhom co ban', 1)
	INSERT INTO [dbo].[NHOMHOCPHAN]([MANHOM], [TENNHOM], [MAKHOAHOC]) VALUES(2, 'Nhom nang cao', 1)
	INSERT INTO [dbo].[NHOMHOCPHAN]([MANHOM], [TENNHOM], [MAKHOAHOC]) VALUES(3, 'Nhom thuc hanh', 2)

	--table GIANGVIEN
	INSERT INTO [dbo].[GIANGVIEN]([MAGV], [TENGV], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [LUONG], [TRINHDOCHUYENMON], [USERNAME], [PASSWORD])
		VALUES(1, 'Hoang Chau My' , '1987-02-20', 'Nu' ,'0987452136', 'hcmy@gmail.com', 20000, 'Thac si' ,'gv_my' ,'123')
	INSERT INTO [dbo].[GIANGVIEN]([MAGV], [TENGV], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [LUONG], [TRINHDOCHUYENMON], [USERNAME], [PASSWORD])
		VALUES(2, 'Truong Quoc Thuan' , '1980-08-12', 'Nam' ,'0987452136', 'tqthuan@gmail.com', 30000, 'Tien si' ,'gv_thuan' ,'123')
	INSERT INTO [dbo].[GIANGVIEN]([MAGV], [TENGV], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [LUONG], [TRINHDOCHUYENMON], [USERNAME], [PASSWORD])
		VALUES(3, 'Le Nhat Tuan' , '1992-09-20', 'Nam' ,'0987452136', 'lntuan@gmail.com', 20000, 'Thac si' ,'gv_tuan' ,'123')

	--table MONHOC
	INSERT INTO [dbo].[MONHOC]([MALOP], [TENLOP], [HOCPHI], [NGAYBATDAU], [GIOHOC], [MAGV])
		VALUES(1, 'Python va Django Framework co ban', 3000,'2021-07-10', 'Thu 2 - 9h30', 1)
	INSERT INTO [dbo].[MONHOC]([MALOP], [TENLOP], [HOCPHI], [NGAYBATDAU], [GIOHOC], [MAGV])
		VALUES(2, 'Ky thuat va cong nghe Django Framework', 3000,'2021-07-10', 'Thu 4 - 9h30', 1)
	INSERT INTO [dbo].[MONHOC]([MALOP], [TENLOP], [HOCPHI], [NGAYBATDAU], [GIOHOC], [MAGV])
		VALUES(3, 'Cac ky thuat bo sung', 3000,'2021-07-10', 'Thu 3 - 9h30', 2)
	

	INSERT INTO [dbo].[NHOMHOCPHAN_MONHOC]([MALOP], [MANHOM]) VALUES(1,1)
	INSERT INTO [dbo].[NHOMHOCPHAN_MONHOC]([MALOP], [MANHOM]) VALUES(2,1)
	INSERT INTO [dbo].[NHOMHOCPHAN_MONHOC]([MALOP], [MANHOM]) VALUES(3,2)
	--table NHANVIEN
	INSERT INTO [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH],[SDT], [DIACHI] ,[EMAIL], [LUONG], [USERNAME], [PASSWORD])
		VALUES(1, 'Nguyen Thi Thanh Ngan', '1987-09-12', 'Nu', '0974446713', 'TPHCM', 'nttngan@gmail.com', 4000, 'NTTN', '123')
	INSERT INTO [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH],[SDT], [DIACHI] ,[EMAIL], [LUONG], [USERNAME], [PASSWORD])
		VALUES(2, 'Nguyen Tranh Hung', '1987-09-12', 'Nam', '0974446713', 'TPHCM', 'nthung@gmail.com', 4000, 'NTH', '123')
	INSERT INTO [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH],[SDT], [DIACHI] ,[EMAIL], [LUONG], [USERNAME], [PASSWORD])
		VALUES(3, 'Hoang Thi My Uyen', '1987-09-12', 'Nu', '0974446713', 'TPHCM', 'htmuyen@gmail.com', 4000, 'HTMU', '123')

	--table NHANVIENKHAOTHI
	INSERT INTO [dbo].[NHANVIENKHAOTHI]([MANVKTHI]) VALUES(1)
	INSERT INTO [dbo].[NHANVIENKHAOTHI]([MANVKTHI]) VALUES(2)
	INSERT INTO [dbo].[NHANVIENKHAOTHI]([MANVKTHI]) VALUES(3)

	--table NHANVIENKETOAN
	INSERT INTO [dbo].[NHANVIENKETOAN]([MANVKTOAN]) VALUES(4)
	INSERT INTO [dbo].[NHANVIENKETOAN]([MANVKTOAN]) VALUES(5)
	INSERT INTO [dbo].[NHANVIENKETOAN]([MANVKTOAN]) VALUES(6)

	--table LICHTHI
	INSERT INTO [dbo].[LICHTHI]([MALICHTHI], [PHONGTHI], [NGAYTHI], [GIOTHI], [TENLICHTHI], [MANVKTHI])
		VALUES(1, 'G102', '2021-08-20', '09:00:00', 'Lich Thi TN', 1)
	INSERT INTO [dbo].[LICHTHI]([MALICHTHI], [PHONGTHI], [NGAYTHI], [GIOTHI], [TENLICHTHI], [MANVKTHI])
		VALUES(2, 'G101', '2021-08-20', '09:00:00', 'Lich Thi TN', 1)
	INSERT INTO [dbo].[LICHTHI]([MALICHTHI], [PHONGTHI], [NGAYTHI], [GIOTHI], [TENLICHTHI], [MANVKTHI])
		VALUES(3, 'G103', '2021-08-20', '09:00:00', 'Lich Thi TN', 2)

	--table LICHTHITN
	INSERT INTO [dbo].[LICHTHITN]([MALICHTHI_TN], [MAKHOAHOC]) VALUES(1, 1)
	INSERT INTO [dbo].[LICHTHITN]([MALICHTHI_TN], [MAKHOAHOC]) VALUES(2, 2)
	INSERT INTO [dbo].[LICHTHITN]([MALICHTHI_TN], [MAKHOAHOC]) VALUES(3, 3)

	--table LICHTHIKTHP
	INSERT INTO [dbo].[LICHTHIKTHP]([MALICHTHI_KTHP], [MALOP]) VALUES(4, 1)
	INSERT INTO [dbo].[LICHTHIKTHP]([MALICHTHI_KTHP], [MALOP]) VALUES(5, 2)
	INSERT INTO [dbo].[LICHTHIKTHP]([MALICHTHI_KTHP], [MALOP]) VALUES(6, 3)

	--table PHIEUDKTOTNGHIEP
	INSERT INTO [dbo].[PHIEUDKTHITN]([MAPHIEU], [NGAYLAPPHIEU], [MAHOCVIEN]) VALUES(1, '2021-08-07', 1)
	INSERT INTO [dbo].[PHIEUDKTHITN]([MAPHIEU], [NGAYLAPPHIEU], [MAHOCVIEN]) VALUES(2, '2021-08-07', 1)
	INSERT INTO [dbo].[PHIEUDKTHITN]([MAPHIEU], [NGAYLAPPHIEU], [MAHOCVIEN]) VALUES(3, '2021-08-07', 3)

		--table DIEMTHITN
	INSERT INTO [dbo].[DIEMTHITOTNGHIEP]([MAHOCVIEN], [MAKHOAHOC], [DIEM], [MAGV], [MAPHIEU_TN])
		VALUES(1, 1, 9, 2, 1)
	INSERT INTO [dbo].[DIEMTHITOTNGHIEP]([MAHOCVIEN], [MAKHOAHOC], [DIEM], [MAGV], [MAPHIEU_TN])
		VALUES(2, 1, 4, 5, 2)
	INSERT INTO [dbo].[DIEMTHITOTNGHIEP]([MAHOCVIEN], [MAKHOAHOC], [DIEM], [MAGV], [MAPHIEU_TN])
		VALUES(3, 4, 8, 3, 3)

	--table DIEMTHIKTHP
	INSERT INTO [dbo].[DIEMTHIKTHP]([MAHOCVIEN], [MALOP], [MANHOM], [LANTHI], [DIEM]) VALUES(1, 1, 1, 1, 10)
	INSERT INTO [dbo].[DIEMTHIKTHP]([MAHOCVIEN], [MALOP], [MANHOM], [LANTHI], [DIEM]) VALUES(1, 2, 1, 1, 8)
	INSERT INTO [dbo].[DIEMTHIKTHP]([MAHOCVIEN], [MALOP], [MANHOM],[LANTHI], [DIEM]) VALUES(1, 3, 2, 1, 6)

	--table PHIEUPHUCKHAO
	INSERT INTO  [dbo].[PHIEUPHUCKHAO]([MAPHIEUPHUCKHAO], [TENPHIEUPHUCKHAO], [LYDO], [DIEMSAUPHUCKHAO]) 
		VALUES(1, 'phuc khao diem kthp', 'diem thap hon so voi du kien', 8)
	INSERT INTO  [dbo].[PHIEUPHUCKHAO]([MAPHIEUPHUCKHAO], [TENPHIEUPHUCKHAO], [LYDO], [DIEMSAUPHUCKHAO]) 
		VALUES(2, 'phuc khao diem kthp', 'diem thap hon so voi du kien', 10)
	INSERT INTO  [dbo].[PHIEUPHUCKHAO]([MAPHIEUPHUCKHAO], [TENPHIEUPHUCKHAO], [LYDO], [DIEMSAUPHUCKHAO]) 
		VALUES(3, 'phuc khao diem tot nghiep', 'diem thap hon so voi du kien', 9)

	--table PHIEUPHUCKHAO_DIEMTN
	INSERT INTO [dbo].[PHIEUPHUCKHAO_TN]([MAPHIEUPHUCKHAO_DIEMTN], [MAKHOAHOC], [MAHOCVIEN]) VALUES(3, 1, 2)
	INSERT INTO [dbo].[PHIEUPHUCKHAO_TN]([MAPHIEUPHUCKHAO_DIEMTN], [MAKHOAHOC], [MAHOCVIEN]) VALUES(4, 1, 1)
	INSERT INTO [dbo].[PHIEUPHUCKHAO_TN]([MAPHIEUPHUCKHAO_DIEMTN], [MAKHOAHOC], [MAHOCVIEN]) VALUES(7, 4, 3)

	--table PHIEUPHUCKHAO_MONHOC
	INSERT INTO [dbo].[PHIEUPHUCKHAO_DIEMKTHP]([MAPHIEUPHUCKHAO_DIEMKTHP], [MAHOCVIEN], [MALOP], [MANHOM], [LANTHI]) VALUES(1, 1, 3, 2, 1)
	INSERT INTO [dbo].[PHIEUPHUCKHAO_DIEMKTHP]([MAPHIEUPHUCKHAO_DIEMKTHP], [MAHOCVIEN], [MALOP], [MANHOM], [LANTHI]) VALUES(2, 1, 4, 2, 1)
	INSERT INTO [dbo].[PHIEUPHUCKHAO_DIEMKTHP]([MAPHIEUPHUCKHAO_DIEMKTHP], [MAHOCVIEN], [MALOP], [MANHOM], [LANTHI]) VALUES(5, 2, 2, 1, 1)

	--table HOADON
	INSERT INTO [dbo].[HOADON]([MAHOADON], [TENHOADON], [NGAYLAP], [TONGTIEN], [MANVKTOAN])
		VALUES(1, 'Hoa don hoc phi', '09-07-2021', null, 4)
	INSERT INTO [dbo].[HOADON]([MAHOADON], [TENHOADON], [NGAYLAP], [TONGTIEN], [MANVKTOAN])
		VALUES(2, 'Hoa don hoc phi', '2021-07-09', null, 4)
	INSERT INTO [dbo].[HOADON]([MAHOADON], [TENHOADON], [NGAYLAP], [TONGTIEN], [MANVKTOAN])
		VALUES(3, 'Hoa don hoc phi', '2021-07-09', null, 4)

	--table HOADONHOCPHI
	INSERT INTO [dbo].[HOADONHOCPHI]([MAHOADON], [MAKHOAHOC], [MAHOCVIEN]) VALUES(1, 1, 1)
	INSERT INTO [dbo].[HOADONHOCPHI]([MAHOADON], [MAKHOAHOC], [MAHOCVIEN]) VALUES(2, 1, 2)
	INSERT INTO [dbo].[HOADONHOCPHI]([MAHOADON], [MAKHOAHOC], [MAHOCVIEN]) VALUES(3, 4, 3)

	--table HOADONPHUCKHAO
	INSERT INTO [dbo].[HOADONPHUCKHAO]([MAHOADON], [MAPHIEUPHUCKHAO]) VALUES(7, 1)
	INSERT INTO [dbo].[HOADONPHUCKHAO]([MAHOADON], [MAPHIEUPHUCKHAO]) VALUES(8, 2)
	INSERT INTO [dbo].[HOADONPHUCKHAO]([MAHOADON], [MAPHIEUPHUCKHAO]) VALUES(9, 3)

	--table HOADONTOTNGHIEP
	INSERT INTO [dbo].[HOADONTHITOTNGHIEP]([MAHOADON], [MAPHIEUTHITN]) VALUES(10, 1)
	INSERT INTO [dbo].[HOADONTHITOTNGHIEP]([MAHOADON], [MAPHIEUTHITN]) VALUES(11, 2)
GO


